@{
    ViewBag.Title = "Home Page";
}

<div class="pager">
    <h1>Be A Super Person or Just Create One!</h1>
    <p class="lead">Type your superhero ideas and save them all in one place!</p>
    <p><a href=@Model</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
           Superheroes give you a powerful, patterns-based way to build dynamic personas that
            enables a clean separation of concerns and gives you full control over self-doubt
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Superhero">Learn more &raquo;</a></p>
    </div>
</div>